{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  // , "prettier"
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:react/recommended"
    // "plugin:prettier/recommended",
    // "prettier",
    // "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "max-len": "off",
    "no-console": "off",
    "no-debugger": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "semi": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "implicit-arrow-linebreak": "off",
    "no-shadow": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off"
  }
}
