.create__task{
    width: 100%;
    padding: 10px 5px;
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 15px;
}
.confirme__all{
    margin-right: 5px;
}
.create__task__input{
    border-radius: 3px;
}