.display__settings{
    width: 100%;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 3px;
}
.task__amount{
    font-size: 13px;
    opacity: 0.7;
    padding-left: 5px;
}
.display__modes{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.mode__all
.mode__active
.mode__completed
.clear__completed{
    font-size: 13px;
    opacity: 0.7;
    padding-right: 5px;
}